@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #0d0d0d;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: #252626;
  border: none;
}

.btn-primary {
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #00bd26;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
